<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <link rel="stylesheet" href="css/styles.css">
    <title>Home</title>
</head>
<body>
    <header>
        <div class="logoBarra">
        <div class="logo"><img src="/images/logo-mercado-liebre.svg" alt=""></div>
                <form class="search" action="/"><input class="search" name="barraBusqueda" id="barraBusqueda" placeholder="Buscar productos, marcas y más">
                <button class="lupa" type="submit"><i class="fa fa-search"></i></button></form>
           </div>
           <div class="comCuotas">
            <p class="cec"><i class="fas fa-hand-holding-usd"></i>  Comprá en cuotas y sin tarjeta de crédito</p>
        </div>  
       
            
        <nav>
            <div class="opciones1">
            
                
                <h1><div class="ofertas"><a href="">Ofertas</a></div></h1>
                <h1><div class="tiendas"><a href="">Tiendas Oficiales </a></div></h1>
                <h1><div class="vendedor"><a href="">Vendedor</a></div></h1>
                <h1><div class="ayuda"><a href="">Ayuda</a></div></h1>
                
            
        </div>
        <div class="opciones2">
            
            <h1><div class="tuCuenta"><a href="register">Creá tu Cuenta  </a><i class="far fa-id-card"></i></div></h1>
            <h1><div class="ingresa"><a href="login">Ingresa  </a><i class="fas fa-sign-in-alt"></i></div></h1>
            <h1><div class="misCompras"><a href="">Mis Compras  </a><i class="fas fa-shopping-basket"></i></div></h1>
            
        </div>


            
        </nav>
        <div class="burger-menu">
            <i class="fas fa-bars"></i>
            </div>
            
    </header>
    <div class="banner">
        <img src="images/img-home-banner.jpg" alt="Banner de ofertas">
    </div> 
    <main>
        
        <section>
            <h2>Basado en tu ultima visita</h2>
            <div class="productos">
            <article>
                <img src="/images/img-cafetera-moulinex.jpg" alt="">
                <div class="descArt">
                    <div class="camion"><i class="fas fa-truck"></i></div>
                    <div class="pd">
                    <div class="precio">$6.770</div>
                    <div class="descuento">40% off</div>
                </div>
                    <div class="descripcion">Cafetera Moulinex</div>
                
            
            </article>
            <article>
                <img src="/images/img-macbook-pro-2019.jpg" alt="">
                <div class="descArt">
                    <div class="camion"><i class="fas fa-truck"></i></div>
                    <div class="pd">
                    <div class="precio">$230.000</div>
                    <div class="descuento">20% off</div>
                </div>
                    <div class="descripcion">Macbook Pro 2019</div>
                
            </article>
            <article>
                <img src="/images/img-samsung-galaxy-s10.jpg" alt="">
                <div class="descArt">
                    <div class="camion"><i class="fas fa-truck"></i></div>
                    <div class="pd">
                    <div class="precio">$70.500</div>
                    <div class="descuento">10% off</div>
                </div>
                    <div class="descripcion">Samsung Galaxy S10</div>
                
            </article>
            <article>
                <img src="/images/img-tv-samsung-smart.jpg" alt="">
                <div class="descArt">
                    <div class="camion"><i class="fas fa-truck"></i></div>
                    <div class="pd">
                    <div class="precio">$23.200</div>
                    <div class="descuento">5% off</div>
                </div>
                    <div class="descripcion">SmartTv Samsung 43"</div>
                
            </article>
            </div>
        </section>
        <section>
            
            <h2>Sección De Ofertas</h2>
            <div class="productos">
            <article>
                <img src="/images/img-cafetera-moulinex.jpg" alt="">
                <div class="descArt">
                    <div class="camion"><i class="fas fa-truck"></i></div>
                    <div class="pd">
                    <div class="precio">$6.770</div>
                    <div class="descuento">40% off</div>
                </div>
                    <div class="descripcion">Cafetera Moulinex</div>
                
            </article>
            <article>
                <img src="/images/img-macbook-pro-2019.jpg" alt="">
                <div class="descArt">
                    <div class="camion"><i class="fas fa-truck"></i></div>
                    <div class="pd">
                    <div class="precio">$230.000</div>
                    <div class="descuento">20% off</div>
                </div>
                    <div class="descripcion">Macbook Pro 2019</div>
                
            </article>
            <article>
                <img src="/images/img-samsung-galaxy-s10.jpg" alt="">
                <div class="descArt">
                    <div class="camion"><i class="fas fa-truck"></i></div>
                    <div class="pd">
                    <div class="precio">$70.500</div>
                    <div class="descuento">10% off</div>
                </div>
                    <div class="descripcion">Samsung Galaxy S10</div>
                
            </article>
            <article>
                <img src="/images/img-tv-samsung-smart.jpg" alt="">
                <div class="descArt">
                    <div class="camion"><i class="fas fa-truck"></i></div>
                    <div class="pd">
                    <div class="precio">$23.200</div>
                    <div class="descuento">5% off</div>
                </div>
                    <div class="descripcion">SmartTv Samsung 43"</div>
                
            </article>
        </div>
        </section>
    </main>
    <footer>
        <div class="tarjeta">
        <i class="fas fa-credit-card"></i>
    </div>
            <div class="textofooter"><h3>Pagá con tarjeta o en efectivo</h3>
            <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                puntos de pago. ¡Y siempre es seguro!</p></div>
            
                <div class="regalo">
                    <i class="fas fa-gift"></i>
                        </div>
                        <div class="textofooter2"><h3>Envío gratis desde $ 2.500</h3>
            <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                productos. Es un beneficio de Mercado Puntos.</p></div>
                <div class="escudo">
                    <i class="fas fa-user-shield"></i>
                        </div>
                        <div class="textofooter3"><h3>Seguridad, de principio a fin</h3>
            <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                porque estás siempre protegid@.</p></div>
                
         
    </footer>
    <div class="copy">
        <p>Copyright © 1999-2020 MercadoLiebre S.R.L.</p></div>
</body>
</html>