<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <link rel="stylesheet" href="css/stylesL.css">
    <title>Logeate</title>
</head>
<body>
    <header>
        
            <div class="logoBarra">
            <div class="logo"><img src="/images/logo-mercado-liebre.svg" alt=""></div>
                    <form class="search" action="/"><input class="search" name="barraBusqueda" id="barraBusqueda" placeholder="Buscar productos, marcas y más">
                    <button class="lupa" type="submit"><i class="fa fa-search"></i></button></form>
               </div>
               <div class="comCuotas">
                <p class="cec"><i class="fas fa-hand-holding-usd"></i>  Comprá en cuotas y sin tarjeta de crédito</p>
            </div>  
           
                
            <nav>
                <div class="opciones1">
                
                    
                    <h1><div class="ofertas"><a href="">Ofertas</a></div></h1>
                    <h1><div class="tiendas"><a href="">Tiendas Oficiales </a></div></h1>
                    <h1><div class="vendedor"><a href="">Vendedor</a></div></h1>
                    <h1><div class="ayuda"><a href="">Ayuda</a></div></h1>
                    
                
            </div>
            <div class="opciones2">
                
                <h1><div class="tuCuenta"><a href="register">Creá tu Cuenta  </a><i class="far fa-id-card"></i></div></h1>
                <h1><div class="ingresa"><a href="login">Ingresa  </a><i class="fas fa-sign-in-alt"></i></div></h1>
                <h1><div class="misCompras"><a href="">Mis Compras  </a><i class="fas fa-shopping-basket"></i></div></h1>
                
            </div>
    
    
                
            </nav>
            <div class="burger-menu">
                <i class="fas fa-bars"></i>
                </div>
                
        
    </header>
    <main>
        <form action="resultado.html" method="POST">
            <p>
              <label></label>
              <input type="text" name="nombre" required placeholder="Nombre de Usuario">
            </p>
      
            <p>
              <label></label>
              <input type="contraseña" name="contraseña" required placeholder="Contraseña">
            </p>

            <p class="botonEnviar">
                <button type="submit" value="ENVIAR" >ENVIAR</button>
                </p>
      
            

    </main>
    <footer>
        <div class="tarjeta">
        <i class="fas fa-credit-card"></i>
    </div>
            <div class="textofooter"><h3>Pagá con tarjeta o en efectivo</h3>
            <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                puntos de pago. ¡Y siempre es seguro!</p></div>
            
                <div class="regalo">
                    <i class="fas fa-gift"></i>
                        </div>
                        <div class="textofooter2"><h3>Envío gratis desde $ 2.500</h3>
            <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                productos. Es un beneficio de Mercado Puntos.</p></div>
                <div class="escudo">
                    <i class="fas fa-user-shield"></i>
                        </div>
                        <div class="textofooter3"><h3>Seguridad, de principio a fin</h3>
            <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                porque estás siempre protegid@.</p></div>
                
         
    </footer>
    <div class="copy">
        <p>Copyright © 1999-2020 MercadoLiebre S.R.L.</p></div>
</body>
</html>